* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* Common */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    --height: 56px;

    height: var(--height);
    min-width: 130px;
    line-height: var(--height);
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 9, 88, 0.7);
    border-radius: 999px;
    color: #000958;
    font-size: 1.4rem;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
}

.btn--primary {
    color: #fff !important;
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn__icon {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.section__heading {
    color: #000958;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
    margin-top: 15px;
}

.section__desc {
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.88;
    margin-top: 24px;
}

/* Header */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link,
.header-action__link {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    padding: 8px 18px;
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
    --height: 50px;
    min-width: 118px;
}

/* Hero */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 16px;
    background: #fe997b;
    width: 388px;
    height: 488px;
    border: 3px solid #fff;
    position: relative;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    width: 230.962px;
    height: 230.962px;
    object-fit: cover;
    bottom: 10px;
}

.hero__decor-right {
    width: 50.346px;
    height: 100.83px;
    object-fit: cover;
    top: 16px;
    right: -43px;
}

.hero__img-wrap-small {
    width: 186px;
    height: 244px;
    background: #faa7ad;
    align-self: flex-end;
    margin: 0 0 -58px -24px;
    border: 2px solid #fbdbdf;
}

.hero__list {
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    padding: 18px 14px;
    position: absolute;
    left: 129px;
    bottom: 0;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    background: #fec23f;
}

.hero-list-item {
    display: flex;
}

.hero-list-item__info {
    margin-left: 10px;
}

.hero-list-item__title {
    color: #181e52;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-list-item__skeleton {
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
    margin-top: 6px;
}

.hero-list-item__separate {
    height: 2px;
    width: 100%;
    background: #f2f2f2;
    border-radius: 999px;
    margin: 20px 0;
}

.hero-list-item:last-child .hero-list-item__thumb {
    background: #c6e2fa;
}

.hero__heading {
    color: #000958;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.16;
}

.hero__desc {
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.87;
    margin-top: 24px;
    max-width: 391px;
}

.hero__row {
    margin-top: 39px;
    display: flex;
    align-items: center;
}

.hero__cta-btn {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    min-width: 189px;
    --height: 60px;
    font-size: 1.6rem;
}

.hero__cta-link {
    color: #000958;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    margin-left: 24px;
    text-decoration: underline;
}

/* About */
.about {
    margin-top: 138px;
}

.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    row-gap: 146px;
}

.about__label {
    color: #5e6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.about__heading {
    margin-top: 15px;
    font-family: Sora, sans-serif;
    margin-top: 24px;
    max-width: 446px;
}

.about__desc {
    max-width: 431px;
}

.about__checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 36px;
    justify-content: flex-start;
}

.about__check-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: relative;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}

.about__check-item:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__check-item::after {
    position: absolute;
    content: url(../icon/check.svg);
    left: 5px;
    top: 2px;
}

.about__card {
    width: 136px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    padding: 30px 26px;
    text-align: center;
    position: absolute;
    top: 165px;
    left: 0;
}

.about__card-title {
    color: #fff;
    font-family: Sora, sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__card-desc {
    color: #c6f4f9;
    font-size: 1.4rem;
    line-height: 1.43;
    margin-top: 14px;
}

.about__card-decor {
    position: absolute;
    top: -39px;
    right: -32px;
}

.about__media {
    position: relative;
}

.about__img-wrap {
    width: 494px;
    position: relative;
    margin-left: auto;
}

.about__img-wrap::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    height: 336px;
    z-index: -1;
}

.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}

.about__media-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__img-wrap-bottom {
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    margin-left: 0;
    width: 458px;
}

.about__img-wrap-bottom::after {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 13px;
    right: 64px;
}

.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__decor-img:nth-child(4) {
    top: 268px;
    right: -33px;
}

.about__decor-img:nth-child(5) {
    bottom: 150px;
    right: 19px;
}

.about__decor-img:nth-child(6) {
    bottom: -55px;
    right: -42px;
}

.about__desc-bottom {
    max-width: 511px;
    margin-bottom: 50px;
}

.tab__list {
    display: inline-flex;
    column-gap: 56px;
    position: relative;
}

.tab__list::after,
.tab__item--active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    border-radius: 999px;
    opacity: 0.07;
    background: var(--primary-color);
}

.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    position: relative;
    padding-bottom: 10px;
    cursor: pointer;
}

.tab__icon {
    width: 20px;
}

.tab__title {
    color: #48496a;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.tab__contents {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content-desc {
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71;
    max-width: 391px;
}

.tab__content-more {
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    display: inline-block;
    margin-top: 32px;
    position: relative;
    padding-bottom: 5px;
}

.tab__content-more::after {
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    height: 1.5px;
    background: #ff5d31;
    border-radius: 999px;
}

/* Service */
.service {
    margin-top: 190px;
    background: #fff6ed;
    padding: 68px 0 100px;
}

.service__top {
    text-align: center;
    margin-bottom: 15px;
}

.service__desc,
.staff__desc {
    color: #5e6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.service__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-top: 65px;
    column-gap: 70px;
}

.service-item {
    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
    padding: 30px;
}

.service-item + .service-item {
    margin-top: 24px;
}

.service-item__heading {
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    padding-left: 12px;
    position: relative;
}

.service-item__heading::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 999px;
}

.service-item__desc {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71;
    width: 244px;
}

.service-item__more {
    margin-top: 24px;
    color: #34396a;
    font-family: Sora, sans-serif;
    font-size: 1.2rem;
    line-height: 1;
    display: inline-flex;
}

.service-item__more::after {
    content: url(../icon/arrowupright.svg);
    margin-left: 5px;
}

.service__media {
    margin-top: 18px;
    position: relative;
}

.service__media::after {
    content: "";
    display: inline-block;
    position: absolute;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
    height: 350px;
    left: 16px;
    right: 16px;
    bottom: 0;
}

.service__img {
    width: 100%;
    z-index: 1;
    position: relative;
    display: block;
}

.service__cta-wrap {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.service__cta {
    min-width: 214px;
    border-radius: 31px;
    border-color: currentColor;
    opacity: 0.6;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: var(--primary-color);
}

/* Staff */

.staff {
    padding: 130px 0;
}

.staff__desc,
.staff__heading {
    text-align: center;
}

.staff__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    margin-top: 45px;
}

.staff-item__img {
    width: 100%;
    z-index: 1;
    position: relative;
    display: block;
    border-radius: inherit;
}

.staff-item__img-wrap {
    margin: 0 16px;
    border-radius: 130px;
    position: relative;
}

.staff-item__img-wrap::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: calc(100% + 36px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.staff-item__img-wrap::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 94%;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
    bottom: 0;
    border-radius: inherit;
    left: 0;
}

.staff-item:nth-child(1) .staff-item__img-wrap::after {
    content: "";
    background-image: url(../img/staff-decor-01.svg);
}

.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item:nth-child(2) .staff-item__img-wrap::after {
    content: "";
    background-image: url(../img/staff-decor-02.svg);
}

.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
    content: "";
    background-image: url(../img/staff-decor-03.svg);
}

.staff-item:nth-child(4) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
    content: "";
    background-image: url(../img/staff-decor-04.svg);
}

.staff-item:nth-child(even) .staff-item__img-wrap::after {
    background-position: 0 19px;
}

.staff-item {
    text-align: center;
}

.staff-item__title {
    color: #656689;
    font-size: 1.4rem;
    line-height: 1;
    margin-top: 34px;
}

.staff-item__name {
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    margin-top: 14px;
}

.staff__cta-wrap {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.staff__cta {
    min-width: 193px;
    color: var(--primary-color);
    border-color: currentColor;
    font-weight: 500;
}

/* Pricing */
.pricing {
    padding: 86px 0;
    background: #fff6ed;
}

.pricing__container {
    width: 994px;
}

.pricing__heading,
.pricing__desc {
    text-align: center;
}

.pricing__desc {
    max-width: 709px;
    margin-left: auto;
    margin-right: auto;
}

.pricing__switch-inner {
    position: relative;
}

.pricing__switch-wrap {
    margin-top: 28px;
    display: flex;
    justify-content: center;
}

.pricing__switch-label {
    width: 276px;
    height: 56px;
    border: 1px solid #ff5b2e99;
    border-radius: 999px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.pricing__switch-value {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    z-index: 1;
    position: relative;
}

.pricing__switch-label::before {
    content: "";
    display: inline-block;
    background: var(--primary-color);
    border-radius: inherit;
    height: 100%;
    width: 140px;
    top: 0;
    left: 0;
    position: absolute;
}

.pricing__switch-input:checked + .pricing__switch-label::before {
    right: 0;
    left: initial;
    width: 131px;
}

.pricing__switch-input:not(:checked)
    + .pricing__switch-label
    .pricing__switch-value:nth-child(2),
.pricing__switch-input:checked
    + .pricing__switch-label
    .pricing__switch-value:nth-child(1) {
    color: var(--primary-color);
}

.pricing__seal-off {
    position: absolute;
    top: -10px;
    right: -109px;
}

.pricing__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
    margin-top: 56px;
}

.pricing-item {
    border-radius: 20px;
    background: #fff;
    padding: 30px 28px;
}

.pricing-item__type {
    color: var(--primary-color);
    font-size: 1.2rem;
    line-height: 1;
}

.pricing-item__heading {
    margin-top: 8px;
    color: #3f4065;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.pricing-item__price {
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.03;
    margin-top: 24px;
}

.pricing-item__btn {
    --height: 44px;
    width: 100%;
    color: var(--primary-color);
    font-size: 1.6rem;
    background: transparent;
    border-color: rgba(255, 91, 46, 0.6);
    margin-top: 22px;
    transition: color 0.1s, background 0.1s, border-color 0.1s;
    cursor: pointer;
}

.pricing-item__list {
    margin-top: 24px;
}

.pricing-item__item {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1;
    padding-left: 14px;
    display: flex;
}

.pricing-item__item::before {
    content: url(../icon/pricing-check.svg);
    margin-right: 14px;
}

.pricing-item--active {
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}
/* Review */
.review {
    padding: 104px 0 52px;
}

.review__inner {
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.review__content {
    overflow: hidden;
}

.review__control {
    height: 54px;
    width: 54px;
    border-radius: 50%;
    border: 1.5px solid #ffd1c4;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: var(--primary-color);
}

.review__control:hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.review__control:nth-of-type(2) {
    margin-left: auto;
}

.review__list {
    display: flex;
}

.review-item {
    display: flex;
    align-items: center;
    column-gap: 115px;
    flex-shrink: 0;
    width: 100%;
}

.review-item__media {
    width: 274px;
    flex-shrink: 0;
    border-radius: 137px;
    position: relative;
    margin-top: -52px;
}

.review-item__media::after {
    content: "";
    height: 82%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffda54;
    border-radius: inherit;
}

.review-item__img {
    width: 100%;
    border-radius: inherit;
    position: relative;
    z-index: 1;
}

.review-item__quote {
    margin-top: 24px;
    color: #000;
    font-size: 1.8rem;
    line-height: 1.56;
    width: 553px;
}

.review-item__author {
    margin-top: 34px;
    color: #282828;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    position: relative;
    line-height: 1;
    padding-left: 28px;
}

.review-item__author::before {
    content: "";
    width: 20px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 999px;
}

.review__dots {
    display: flex;
    justify-content: center;
    margin-top: 56px;
    column-gap: 8px;
}

.review__dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}

.review__dot:hover {
    background: var(--primary-color);
    cursor: pointer;
}

.review__dot--active {
    width: 24px;
    background: var(--primary-color);
    border-radius: 999px;
}

.review-item__content {
    margin-top: 28px;
}
