* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    --height: 56px;

    height: var(--height);
    min-width: 130px;
    line-height: var(--height);
    text-align: center;
    display: inline-block;
    border: 1px solid rgba(0, 9, 88, 0.7);
    border-radius: 999px;
    color: #000958;
    font-size: 1.4rem;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
}

/* Header */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link,
.header-action__link {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    padding: 8px 18px;
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
    --height: 50px;
    min-width: 118px;
}
